body{
  background-color: aliceblue;
  font-family: "Raleway", sans-serif;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;

}
.logo img{
  width: 22vh;
  height: 22vh;
}
.nav{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  font-size: 3vh;
  color: #737373;
  font-family: "Raleway", sans-serif;

}
.hero{
  display: flex;
  width: 100%;
  margin-top: 20vh;
}
.adesh-img{
 max-width: 70%;
 max-height: 70%;
 border-radius: 10px;
}
.hero-img{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  min-width: 50%;
  
}
.hero-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  padding: 10vh;
  font-size: 3vh;
}
a{
  margin: 0%;
}
.title{
 
  display: flex;
  justify-content: center;
  margin-top: 15vh;
 
}
h1{
  font-size: 10vh;
  font-family: "Raleway", sans-serif;
}
.one{
  margin-left: 15vh;
}
.adesh{
  font-size: 5vh;
  font-family: "Raleway", sans-serif;
  color: #737373;
  margin-left: 10vh;
  
}
.sliding-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.sliding-text span {
  display: inline-block;
  padding-left: 100%;
  animation: slide 15s linear infinite;

  font-size: 3vh;
}
@keyframes slide {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.mix{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10vh;
 
  
}
.mix-button{
  border-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 3vh;
  background-color: yellow;
  border-radius: 1vh;
  padding: 1vh;
  color: black;
}
.video-player{
  display: flex;
  justify-content: center;
  width: 100%;
 
}
iframe{
  width: 50%;
  height: 50vh;
  margin-top: 10vh;
}
@media (max-width: 480px) {
  /* CSS rules for extra small screens */

.nav{
  font-size: 2vh;
}
.title{
  margin-top: 34vh;
}
h1{
  font-size: 3.8vh;
}
.adesh{
  font-size: 1.5vh;
  margin: 0%;
}
.one{
  margin-left: 10vh;
}
.hero{
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 29vh;
}
.hero-text{
  padding: 5vh;
  max-width: fit-content;
 
}
.adesh-img{
  max-width: 100%;
}
.video-player{
  width: 100%;
 
}
iframe{
  width: 80%;
  height: 30vh;
}
}

@media (min-width: 481px ) and (max-width: 790px){
  /* Styles for small devices */

  h1{
    font-size: 5vh;
    margin-top: 20vh;
  }
  .adesh{
    font-size: 1.5vh;
    margin: 0%;
  }
  .hero{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 40vh;
  }
}

